@import url(https://fonts.intera.dev/_/plus+jakarta+sans);
@import url(https://fonts.intera.dev/_/space+mono);
@import "tailwindcss";
@import "@tabler/icons-webfont/dist/tabler-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  @apply border;
  background: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;

  cursor: pointer;
  border-radius: 20px;
  @apply bg-black dark:bg-white;
}
@media (prefers-color-scheme: dark) {
  .slider::-webkit-slider-thumb {
    @apply bg-white;
  }
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  @apply bg-black dark:bg-white;
}

input, select, button {
  outline: none ;
  &:focus {
    @apply ring-2 ring-offset-1;
  }
}

.custom-icon {
  display: inline-block;
  width: 1em;   /* 1em = font-size of the parent */
  height: 1em;  /* keep it square */
  vertical-align: middle;
  color: currentColor; /* ensures stroke takes parent's text color */
}